    <div class="panel panel-primary">
        <div class="panel-heading text-right"><a routerLink="/registration" routerLinkActive="active">Регистрация</a></div>
        <div class="panel-body">
            <form class="form-signin" role="form">

                <h2 class="form-signin-heading">Logo is here</h2>
                
                <div class="input-group">
                    <span class="input-group-addon">+7</span>
                    <input id="msg" type="number" class="form-control" name="msg" placeholder="Телефон">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Пароль">
                </div>
                <br />
                <!--button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button-->
            </form>
        </div>
        <div class="panel-footer text-center"><a routerLink="/catalog" routerLinkActive="active">Вход</a></div>
    </div>